*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea_modules/
/target/
/project/project/
/project/target/
/project/activator-*
/logs/
/RUNNING_PID
*.iml
.DS_Store
*.class


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
helper/
target/
out/

/*/doc/private

/app.props
/app.properties

ignored

.classpath
.project
.settings

dependency-reduced-pom.xml

/*.properties
