<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://org.opencloudb/">
    
	<system>
		<property name="defaultSqlParser">druidparser</property>
		<property name="charset">utf8</property>
		
	    <!-- <property name="useCompression">1</property>--> <!--1为开启mysql压缩协议-->
		<!-- <property name="processorBufferChunk">40960</property> -->
		
		<!-- 
		<property name="processors">1</property> 
		<property name="processorExecutor">32</property> 
	 	-->
	 	
		<!--默认是65535 64K 用于sql解析时最大文本长度 -->
		<!--<property name="maxStringLiteralLength">65535</property>-->
		<!--<property name="sequnceHandlerType">0</property>-->
		<!--<property name="backSocketNoDelay">1</property>-->
		<!--<property name="frontSocketNoDelay">1</property>-->
		<!--<property name="processorExecutor">16</property>-->
		<!-- 
			<property name="mutiNodeLimitType">1</property> 0：开启小数量级（默认） ；1：开启亿级数据排序
	    	<property name="mutiNodePatchSize">100</property> 亿级数量排序批量
			<property name="processors">32</property> 
			<property name="processorExecutor">32</property> 
			<property name="serverPort">8066</property> 
			<property name="managerPort">9066</property> 
			<property name="idleTimeout">300000</property> 
			<property name="bindIp">0.0.0.0</property> 
			<property name="frontWriteQueueSize">4096</property> 
			<property name="processors">32</property> 
		-->
		<property name="usingAIO">0</property>
		<property name="sqlExecuteTimeout">150</property>
	    
	</system>
	
	<user name="test">
		<property name="password">test</property>
		<property name="schemas">TESTDB1,TESTDB2,TESTDB3</property>
	</user>

	<user name="user">
		<property name="password">user</property>
		<property name="schemas">TESTDB1,TESTDB2,TESTDB3</property>
		<property name="readOnly">false</property>
	</user>
	
</mycat:server>
